body{
    display: flex;
    flex-direction: column;
    margin:0;
    height: 100vh;
    justify-content: space-between;
}
.header {
    display: flex;
    background: #1F2937;
    flex-direction: column;
}
.quote-box {
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    gap: 20px;
}
.footer{
    background: #1F2937;
    display: flex;
}
.wrapper {
    margin: 40px 200px;
    display: flex;
    padding: 50px 120px;
    border-radius: 15px;
    justify-content: space-between;
}
.inner-wrap {
    display: flex;
    flex-direction: column;
    color: white;
}
.wrapper, button{
    background: #3882F6;
}
.img {
    width: 200px;
    height: 200px;
    border: 3px solid #3882F6;
    border-radius: 15%;
}
.img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
a{
    color: white;
    cursor: pointer;
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
    margin-right: 220px;
}
.header-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.head-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 220px;
}
.hero-main{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.second-txt, ul {
    font-size: 18px;
    color: #E5E7EB;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 120px 0px;
}
.column-wrap {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 220px;
}
.column-wrap button {
    align-self: flex-start;
    border-radius: 5px;
    color: white;
    padding: 5px 30px;
    border: 0;
}
.logo-container {
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 220px;
    color: white;
    width:600px;
}
.quote-main {
    width: 880px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}
.quote-second {
    font-size: 20px;
    font-weight: bold;
    color: #1F2937;
    width: 850px;
    display: flex;
    justify-content: end;
}
.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.info-head {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 20px;
}
.text-box {
    display: flex;
    gap: 20px;
}
.text {
    width: 200px;
    height: 100px;
}
button {
    border-radius: 5px;
    color: white;
    padding: 5px 30px;
    border: white;
    border-width: 1px;
    border-style: solid;
}